[Unit]
Description=PM2.5 Sensor Hub (pigpio)
# This ensures the service waits for the network AND the pigpio daemon
Wants=network-online.target
After=network-online.target pigpiod.service
Requires=pigpiod.service

[Service]
User=rs
Group=rs
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/rs/weather
ExecStart=/home/rs/weather/venv/bin/python3 /home/rs/weather/pm25_hub.py
Restart=always

[Install]
WantedBy=multi-user.target
